/node_modules
/public/hot
/public/bigin
/public/storage
/storage/*.key
/public/assets
/vendor
/.idea
/.vscode
/.vagrant
/public/frontend/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker/db/data/*
docker/.composer/*
docker/web/logs
public/packages
database/migrations
public/mix-manifest.json
docker/redis/data
docker/ssh/*
/storage/framework/cache
storage/logs/*
storage/rate_log/*
storage/rate_log_public_api/*
!storage/logs/.gitkeep
!storage/rate_log/.gitkeep
Packages/Frontend/Resources/.DS_Store
.DS_Store
reports
storage/api-docs
config/bigin

storage/webhook_log/*
!storage/webhook_log/.gitkeep

storage/app_log/*
!storage/app_log/.gitkeep
